.ancla-url, .ancla-url:hover{
color: #FFF;
}

#information-event {
position: relative;
height: auto;
background: #000;
}

#information-event .info-event{
top: 0%;
position: relative;
top: 0;
left: 0;
width: 100%;
height: auto;
margin-top: 50px !important;
margin: 0 auto;
}

#information-event .gallery{
width: 100%;
height: auto;
}

#information-event .preview{
width: 70%;
height: auto;
}

#information-event .preview img, #information-event .list-gallery-images li img{
width: 100%;
height: auto;
}

#information-event .list-gallery-images{
width: 30%;
position: relative;
}

#information-event .list-gallery-images li{
height: auto;
}

.title-event, .date-event{
font-family: 'Gotham-Bold';
font-size: 1.5em;
display: block;
margin-bottom: 1vw;
width: 100% !important;
}

.date-event{
text-align: right;
}

.description-event{
text-align: justify;
display: block;
margin-bottom: 1vw;
margin-top: 1vw;
}

.event-details{
display: block;
margin-bottom: 1vw;
font-weight: bold;
width: 100% !important;
}

.container-event{
width: 60% !important;
height: auto;
margin: 0 auto;
max-width: 580px;
}

.coming-info-event, .coming-info-event .gallery, .coming-info-event .gallery .preview{
width: 100% !important;
height: auto;
}

.coming-info-event{
max-width: 740px;
margin: 0 auto;
padding-top: 60px !important;
padding-bottom: 60px !important;
}


@media(max-width: 768px){

.user-data-row{
  display: block;
  
}
.user-data-row div{
  width: 90% !important;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 1.5em !important;
}

.user-data-row div:nth-child(1){
  padding-left: 5px;
}

}

@media(max-width: 970px){
  
#information-event .list-gallery-images li img{
  width: 100% !important;
  height: auto !important;
}

.container-event{
  width: 70% !important;
  height: auto;
  margin: 0 auto;
}

}

@media(max-width: 480px){
  
#information-event .list-gallery-images{
  width: 50%;
}

#information-event .preview{
  width: 100%;
}

.container-event{
  width: 90% !important;
  height: auto;
  margin: 0 auto;
}

}

.msgerror-span-login{
display: block;
margin-top: 1vw;
}

.msgwelcome-span-login{
display: block;
margin-top: 1vw;
color: #3ADF00;
}

.password-forget:hover{
cursor: pointer;
opacity: .5;
}

.msgerror-span-login{
display: block;
margin-top: 1vw;
color: red;
}

.msgwelcome-span-login{
display: block;
margin-top: 1vw;
color: #3ADF00;
}

.ancla-menu-not a, .ancla-menu-not:hover a{
color: #333;
}

.container-title{
margin-bottom: 60px;
margin-top: 60px;
}

.comprarbutton{
margin-bottom: 30px;
}

.itemMessage{
margin: 0 auto;
width: 80%;
height: auto;
border: 2px solid #e5e5e5;
margin-top: 60px;
text-align: center;
}

.itemMessage span{
display: block;
width: 90%;
height: auto;
margin: 0 auto;
padding-top: 60px;
padding-bottom: 60px;
font-family: 'Gotham-Bold';
font-size: 16px;
}

.cantcart span{
font-size: .9em;
}

.wrong-pass{
font-family: 'Gotham-Bold';
font-weight: bold;
width: 100%;
margin-top: 25px !important;
}

.profile-modal-title{
font-size: 1.8em;
}

.titlesetpass{
display: block;
width: 100%;
text-align: left;
font-family: 'Gotham-Bold';
font-weight: bold;
font-size: 1.1em;
}

.right-side-data{
position: relative;
}

.profile-name-wrapper, .profile-modal-wrapper{
max-width: 620px;
margin: 0 !important;
padding: 0 !important;
margin: 0 auto !important;
text-align: center;
}

.profile-modal-wrapper{
border: 2px solid #e5e5e;
}

.profile-modal-wrapper form{
width: 70%;
height: auto;
margin: 0 auto;
padding: 7px;
}

.profile-wrapper{
margin-top: 9.3vw;
margin-bottom: 9.3vw;
font-size: 1em;
}

.profile-name-wrapper b, .profile-name-wrapper span{
font-size: 1.5em;
}

.user-data{
max-width: 520px;
}

.user-data .left-side-data{
width: 30%;
text-align: left;
}

.user-data .right-side-data{
width: 65%;
}

.user-data span{
font-size: .8em;
font-family: 'Gotham-Bold';
}

.user-data input, .user-data select{
width: 100%;
padding: 7px;
display: inline-block;
font-family: 'Gotham-Bold';
color: #000;
border: 2px solid #FFF;
}

.logout-button{
cursor: pointer;
opacity: .5;
font-size: .8em !important;
}

.edit-button-wrapper{
margin-top: 2vw !important;
margin-bottom: 2vw !important;
}

.profile-name{
width: 100%;
height: auto;
margin-top: 2vw !important;
margin-bottom: 5vw !important;
}

.close-setion {
display: block !important;
}

.logout{
display: block !important;
text-align: right;
}

.msgError{
display: block;
width: 100%;
position: relative;
top: 0%;
left: 0%;
padding: 5px;
text-align: left;
color: red;
}

.msgeErrorForm{
font-weight: bold;
width: 100%;
display: block;
color: red;
text-align: center;
margin-top: -2vw;
}

.new-password{
display: none;
}

.container-shop{
margin-bottom: 0px !important;
padding-bottom: 0px !important;
}

#shop-site{
position: relative;
}

.element-msg{
position: absolute;
bottom: 10px;
right: 15px;
width: 130px;
height: auto;
color: #FFF;
font-family: 'Gotham-Book';
font-size: 12px;
z-index: 2;
}

.element-msg ul{
width: 100%;
height: auto;
}

.element-msg ul li{
width: 100%;
height: 80px;
text-align: center;
background: #000;
margin-bottom: 5px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
align-content: center;
justify-content: center;
}

.element-msg ul li span{
display: block;
width: 90%;
height: auto;
margin: 0 auto;
line-height: 1em;
}

@media(max-width: 640px){
  
.element-msg{
  position: fixed;;
  top: 10%;
  right: 15px;
  width: 130px;
  height: auto;
  color: #FFF;
  font-family: 'Gotham-Book';
  font-size: 12px;
}

}

.icon-swiper{
background: #000;
height: auto !important;
width: auto !important;
padding: 10px 5px 10px 5px;
margin: 0 !important;
}

.icon-swiper img{
width: 25px !important;
height: auto !important;
}

@media(max-width: 620px){
  
.row-price .info-row{
  font-size: 10px;
}
  
}

.button-next{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.confirm-order, .client-info, .forma-de-envio, .forma-de-pago{
  max-width: 620px;
  margin: 0 auto;
  margin-top: 160px;
}

.compra-title{
  display: block;
  margin-bottom: 3em;
}

.confirm-order-wrapper{
  width: 100%;
  height: auto;
  font-family: 'Gotham-Book';
}

.confirm-order-top div{
  margin-bottom: 50px !important;
}

.confirm-order-top div, .order-products-list li div{
  margin: 0 auto;
  height: auto;
}

.confirm-order-top div:nth-child(1), .order-products-list li div:nth-child(1), .confirm-order-top div:nth-child(3), .order-products-list li div:nth-child(3){
  width: 20%;
}

.confirm-order-top div:nth-child(2), .order-products-list li div:nth-child(2){
  width: 50%;
}

.order-products-list li{
  width: 100%;
}

.product-order{
  width: 100%;
}

.product-order-img{
  display: inline-block !important;
  width: 50% !important;
  height: auto !important;
  margin: 0 auto;
}

.product-order .product-info{
  display: inline-block !important;
  width: 70% !important;
  height: auto !important;
  margin: 0 auto;
}

.product-order .product-order-img img{
  width: 80%;
  height: auto;
}

.quantity-order{
  text-align: center;
}

.quantity-order, .price-order{
  font-family: 'Gotham-Bold';
  font-size: 1em !important;
}

.total-price-table, .row-price{
  width: 80%;
  height: auto;
  text-align: left;
}

.row-price .info-row{
  display: inline-block;
  text-align: left;
  font-size: 14px;
}

.info-row:nth-child(1){
  width: 78%;
}

.info-row:nth-child(2){
  width: 22%;
}

.user-data{
  width: 100%;
}

.forma-de-envio input, .forma-de-envio select {
  border: 2px solid #e5e5e5;
}

.message-goto-user{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Gotham-Bold';
}

.button-paypal-wrapper{
  width: 70%;
  max-width: 220px;
  margin: 4em auto;
}

.button-paypal-wrapper div, .button-paypal-wrapper div img{
  width: 100%; 
  height: auto;
}

.button-paypal-wrapper div:nth-child(1) img{
  content: url("./../src/images/button_paypal03.png");
}

.button-paypal-wrapper div:nth-child(1) img:hover{
  opacity: .5;
  cursor: pointer;
}

.status-compra{
  padding: 0px;
  margin-top: 150px;
  margin-bottom: 80px;
}

h2.compra-title {
  margin: 50px auto;
}

.client-info, .confirm-order, .forma-de-envio, .forma-de-pago {
  margin: 0 auto;
}

.title-status:nth-child(3){
  border-right: none;
}

.shop-stage-buy .containerCart .itemMessage{
  margin-top: 150px;
  margin-bottom: 90px;
  max-width: 320px;
}

.compra-wrapper{
  margin-top: 60px;
  margin-bottom: 60px !important;
}

.quantity-order{
  text-align: center;
}
