.container-formlogin
  width: 80%;
  height: auto;
  margin: 0 auto;

.container-formlogin form
  width: 100%;
  height: auto;
  margin-top: 160px;
  margin-bottom: 160px;
  font-family: 'Gotham-Bold';
  font-size: 1em;
  text-align: center;

.container-formlogin form span.title-form
  display: block;
  text-align: center;
  font-size: 2em;
  margin-top: 20px;
  margin-bottom: 40px;

.container-formlogin form label
  display: block;
  width: 40%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;

.container-formlogin form label span
  display: inline-block;
  width: 25%;

.container-formlogin form label input
  width: 70%;
  height: auto;
  border: 2px solid #e5e5e5;
  padding: 7px;
  background: none;
  position: relative;

.container-formlogin form .login-buttom
  margin: 0 auto;
  width: auto;
  height: auto;
  font-size: 1.5em;
  border: 2px solid #000;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 25px 5px 25px;
  margin-top: 20px;
  margin-bottom: 20px;

.container-formlogin form .login-buttom:hover
  cursor: pointer;
  opacity: .5;

.container-formlogin form .message-span
  display: inline-block;

.container-formlogin form .password-forget
  text-decoration: underline;
  width: 100%;

.register-user
  color: #2e8ed3;

.register-user:hover
  cursor: pointer;
  opacity: .5;

.form-register, .form-login
  width: 100%;
  height: auto;

.register-msg
  margin-bottom: 20px;

label.checkedinput
  margin-top: 5px !important;
  margin-bottom: 5px !important;

label.checkedinput input
  width: auto !important;

@media(max-width: 1680px)
  .container-formlogin
    width: 80%;

  .container-formlogin form label
    width: 50%;

@media(max-width: 1280px)
  .container-formlogin
    width: 80%;

  .container-formlogin form label
    width: 60%;

@media(max-width: 970px)
  .container-formlogin
    width: 90%;

  .container-formlogin form label
    width: 65%;

@media(max-width: 640px)
  .container-formlogin
    width: 90%;

  .container-formlogin form
    font-size: 1.2em;

  .container-formlogin form label
    width: 70%;

  .container-formlogin form label span
    display: inline-block;
    width: 100%;

  .container-formlogin form label input
    width: 100%;
