#intro-page
  position: fixed;
  top: 0;
  right: 0
  width: 100%;
  height: 100% !important;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgba(0, 0, 0, 0.5);

#intro-page .background-intro
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

#intro-page .background-intro img
  width: 100%;
  height: auto;

.infotextinto
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #FFF !important;


.infotextinto .container-title
  color: #FFF !important;

.infotextinto .msg-intro
  display: block;
  margin-top: 5vw;
  margin-bottom: 2.5vw;
  font-family: 'Gotham-Book';
  font-size: 1.5em;
  text-align: center;
  width: 30%;

.buttom-intro
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 1vw;

.buttom-intro div
  font-size: 1.5em;
  display: inline-block;
  margin-left: 3vw;
  margin-right: 3vw;

.buttom-intro span.image
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  width: 20px;
  height: auto;

.buttom-intro span.image img
  width: 100%;
  height: auto;

.buttom-intro div:hover
  cursor: pointer;
  font-weight: 600;

.container-msg
  width: 40%;
  margin-top: 4vw;
  font-size: .9em;
  text-align: center;
  margin-bottom: 2vw;
  font-family: 'Gotham-Book';

.imagepa-home-intro
  width: 10%;
  height: auto;
  margin-left: 45%;
  margin-right: 45%;

.imagepa-home-intro img
  width: 100%;
  height: auto;
