@media(max-width: 1024px)
  .container
    font-size: .9em !important;

@media(max-width: 768px)
  .container
    font-size: .8em !important;

@media(max-width: 640px)
  .container
    font-size: .7em !important;

  .container-text
  	font-size: 1.3em !important;

@media(max-width: 480px)
  .container
    font-size: .6em !important;

  .container-text
  	font-size: 1.5em !important;
