@import './normalize'
@import './header'
@import './intro-home'
@import './menu-social'
@import './nosotros-home'
@import './main-responsive'
@import './servicios-home'
@import './eventos-home'
@import './shop-carrusel'
@import './swiper.min.css'
@import './slider-bottles'
@import './profile'
@import './contact-form'
@import './bottom-site'
@import './pop-up-info'
@import './form-user-loging-register'
@import './intro-site'
@import './orden-producto'
@import './confirmar-orden'
@import './payment'
@import './ig-grid'

@font-face
	font-family Gotham-Black
	src url(../src/fonts/Gotham-Black.otf)

@font-face
	font-family Gotham-Bold
	src url(../src/fonts/Gotham-Bold.otf)

@font-face
	font-family Gotham-Light
	src url(../src/fonts/Gotham-Light.otf)

@font-face
	font-family Gotham-Medium
	src url(../src/fonts/Gotham-Medium.otf)

@font-face
	font-family Gotham-Book
	src url(../src/fonts/Gotham-Book.otf)

ul, li
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	display: inline-block;

.container
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: 1em;

.partial-container, .view-container
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;

.container-title
	width: 100%;
	height: auto;
	text-transform: uppercase;
	color: #000;
	font-family: 'Gotham-Bold';
	font-size: 4em;
	font-weight: 900;
	text-align: center;

.container-text
	text-align: justify;
	color: #000;
	font-family: 'Gotham-Book';
	font-size: 1.1em;

::-webkit-scrollbar {
    width: 10px;
		background: #F0F0F0;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,1);
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,1);
}
