.menu-social-fixed
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 3;
  background: #000;
  transition: .5s;

.menu-social-fixed ul
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;

.menu-social-fixed ul li
  width: 20px
  height: auto;
  margin: 8px 5px 8px 5px;

.menu-social-fixed ul li div
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

.menu-social-fixed ul li div img
  width: 100%;
  height: auto;

.menu-social-fixed ul li div img:hover
  opacity: .5;
  cursor: pointer;
